.example-card {
    max-width: 400px;
  }
  
  .example-card-footer {
    padding: 16px;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;  
    width: fit-content;
  }

  mat-chip-set {
    display: flex;
    justify-content: space-evenly; /* equal spacing between chips */
    width: 100%; /* control total width from center, adjust as needed */
    align-items : center
  }

  
  


