.example-card {
    max-width: 400px;
  }
  
  .example-card-footer {

    padding: 16px;
    justify-content: center;
    align-items: center;

  }
  
  .container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;  
    width: fit-content;
  }


  .footer{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

  



  
  


