<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="container">

  <mat-tab-group animationDuration="200ms" (selectedTabChange)="onTabSwitch($event)" >
    
      <mat-tab label="Available Jobs">
        <div class="open-jobs">
        <app-open-jobs></app-open-jobs></div>
      </mat-tab>
    <mat-tab label="Applied Jobs"><app-applied-jobs></app-applied-jobs></mat-tab>
    <mat-tab label="Assigned Jobs"><app-assigned-jobs></app-assigned-jobs></mat-tab>
    <mat-tab label="Completed Jobs"><app-completed-jobs></app-completed-jobs></mat-tab>
  </mat-tab-group>
      

    
</div>